
<div mat-dialog-content>
  <br />
  <div [formGroup]="datosForm">

      <div class="container-fluid">
        <div class="row mt-1 justify-content-around">
          <div class="col-lg-6 col-sm-6">
            <mat-form-field class="w-100" appearance="legacy">
              <mat-label>Nombre</mat-label>
              <input
                matInput
                placeholder="Ingresa el nombre"
                formControlName="nombre"
                required
              />
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-sm-6">
            <mat-form-field class="w-100" appearance="legacy">
              <mat-label>Escolaridad</mat-label>
              <mat-select formControlName="escolaridad" required>
                <mat-option *ngFor="let escolaridad of escolaridades" [value]="escolaridad"
                  >{{ escolaridad}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-1 justify-content-around">
          <div class="col-lg-6 col-sm-6">
            <mat-form-field class="w-100" appearance="legacy">
              <mat-label>Apellido Paterno</mat-label>
              <input
                matInput
                placeholder="Ingresa el apellido Paterno"
                required
                formControlName="apellidoPaterno"
              />
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-sm-6">
            <mat-form-field class="w-100" appearance="legacy">
              <mat-label>Apellido Materno</mat-label>
              <input
                matInput
                placeholder="Ingresa el apellido Materno"
                required
                formControlName="apellidoMaterno"
              />
            </mat-form-field>
          </div>
          
        </div>
        <div class="row mt-1 justify-content-around">
          
          
          <div class="col-lg-12 col-sm-12">
            <mat-form-field class="w-100" appearance="legacy">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input
                matInput
                placeholder="Ingresa la fecha de nacimiento"
                readonly
                [matDatepicker]="fechaInicioPicker"
                formControlName="fechaNacimiento"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="fechaInicioPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #fechaInicioPicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
  </div>
  <br />
  <br />
</div>
<div mat-dialog-actions>
  <div class="container-fluid">
    <div class="row mt-1 justify-content-around">
      <div class="col-lg-4 col-sm-6">
        <button
          mat-raised-button
          class="btn-block btn-danger mb-1"
          (click)="onDismiss()"
        >
          <mat-icon>clear</mat-icon>
          Cancelar
        </button>
      </div>
      <div class="col-lg-4 col-sm-6">
        <button
          mat-raised-button
          class="btn-block btn-success mb-1"
          (click)="modificarAlumno()"
        >
          <mat-icon>add</mat-icon>
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>