<div mat-dialog-content>
  <br />
  <div [formGroup]="datosForm">
    <div class="container-fluid">
      <div class="row mt-1 justify-content-around">
        <div class="col-lg-6 col-sm-6">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              placeholder="Ingresa el nombre"
              formControlName="nombre"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-sm-6">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Código Postal</mat-label>
            <input
              matInput
              placeholder="Ingresa el código postal"
              required
              formControlName="codigoPostal"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-1 justify-content-around">
        <div class="col-lg-6 col-sm-6">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Calle</mat-label>
            <input
              matInput
              placeholder="Ingresa la calle"
              required
              formControlName="calle"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-sm-6">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Colonia</mat-label>
            <input
              matInput
              placeholder="Ingresa la Colonia"
              type="text"
              required
              formControlName="colonia"
              [matAutocomplete]="auto"
            />
          </mat-form-field>
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="mostrarTextoAutoCompleteColonia"
          >
            <mat-option *ngIf="cargando" class="is-loading"
              ><mat-spinner diameter="30"></mat-spinner
            ></mat-option>
            <ng-container *ngIf="!cargando">
              <mat-option *ngFor="let colonia of colonias" [value]="colonia">
                <span>{{ colonia.nombre }}</span>
                <small> | C.P.: {{ colonia.c_CodigoPostal }}</small>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </div>
      </div>
      <div class="row mt-1 justify-content-around">
        <div class="col-lg-6 col-sm-6">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Número Exterior</mat-label>
            <input
              matInput
              placeholder="Ingresa el número Exterior"
              required
              formControlName="numeroExterior"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-sm-6">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Número Interior</mat-label>
            <input
              matInput
              placeholder="Ingresa el número interior"
              formControlName="numeroInterior"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="w-100 px-2" style="height: 400px" align="center">
    <agm-map
      [latitude]="lat"
      [zoom]="zoom"
      [longitude]="lng"
      (mapClick)="mapClicked($event)"
      class="w-100 h-100"
      align="center"
    >
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <mat-label>{{ currentLocation }}</mat-label>
  </div>

  <br />
  <br />
</div>
<div mat-dialog-actions>
  <div class="container-fluid">
    <div class="row mt-1 justify-content-around">
      <div class="col-lg-3 col-sm-6">
        <button
          mat-raised-button
          class="btn-block btn-danger mb-1"
          (click)="onDismiss()"
        >
          <mat-icon>clear</mat-icon>
          Cancelar
        </button>
      </div>
      <div class="col-lg-3 col-sm-6">
        <button
          mat-raised-button
          class="btn-block btn-success mb-1"
          (click)="agregarEmpresa()"
        >
          <mat-icon>add</mat-icon>
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
