<div mat-dialog-content>
  <br />
  <div [formGroup]="datosForm">
    <div class="container-fluid">
      <div class="row mt-1 justify-content-around">
        <div class="col-lg-6 col-sm-6">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              placeholder="Ingresa el nombre"
              formControlName="nombre"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-sm-6">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Apellido Paterno</mat-label>
            <input
              matInput
              placeholder="Ingresa el apellido paterno"
              formControlName="apellidoPaterno"
              required
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-1 justify-content-around">
        <div class="col-lg-6 col-sm-6">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>Apellido Materno</mat-label>
            <input
              matInput
              placeholder="Ingresa el apellido materno"
              formControlName="apellidoMaterno"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-sm-6">
          <mat-form-field class="w-100" appearance="legacy">
            <mat-label>RFC</mat-label>
            <input
              matInput
              placeholder="Ingresa el rfc"
              formControlName="rfc"
              required
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="container-fluid">
    <div class="row mt-1 justify-content-around">
      <div class="col-6">
        <button
          mat-raised-button
          class="btn-block btn-danger mb-1"
          (click)="onDismiss()"
        >
          <mat-icon>clear</mat-icon>
          Cancelar
        </button>
      </div>
      <div class="col-6">
        <button
          mat-raised-button
          class="btn-block btn-success mb-1"
          (click)="agregarEmpresa()"
        >
          <mat-icon>add</mat-icon>
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
