<div mat-dialog-content>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div  align="center">
    <div class="row justify-content-center">
      <div class="col-2" >
        <mat-icon style="padding: 0;" class="red-icon icon-size w-100">highlight_off </mat-icon>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
      <div class="col">
        <mat-label>Credenciales incorrectas, vuelvelo a intentar. </mat-label>
      </div>
    </div>

  </div>
</div>
<br />
<div mat-dialog-actions>
  <div class="container-fluid">
    <div class="row mt-1 justify-content-center">
      <button
        mat-raised-button
        class="btn btn-danger mb-1 w-100"
        (click)="onDismiss()"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>
