<div class="mt-5" align="center">
  <div class="w-75">
    <div class="row mt-1 justify-content-between align-items-end">
      <div class="col-12">
        <mat-form-field appearance="legacy" class="w-100">
          <mat-label>Buscar...</mat-label>
          <input
            matInput
            type="text"
            placeholder="Busca administradores"
            [formControl]="buscadorForm"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-1 justify-content-between align-items-end">
      <div class="col-12 mb-3">
        <button
          class="w-100 btn-success"
          (click)="agregarAdministrador()"
          mat-raised-button
        >
          <mat-icon>add</mat-icon>
          <span> <b>Agregar Nuevo Alumno</b> </span>
        </button>
      </div>
    </div>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 w-75"
    appearance="legacy"
  >
    <!-- No. Elemento-->
    <ng-container matColumnDef="No.">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">
        {{ obtenerIndiceTabla(element) + 1 }}
      </td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <!-- Apellido Materno -->
    <ng-container matColumnDef="Apellido Materno">
      <th mat-header-cell *matHeaderCellDef>Apellido Materno</th>
      <td mat-cell *matCellDef="let element">{{ element.apellidoMaterno }}</td>
    </ng-container>

    <!-- Apellido Paterno -->
    <ng-container matColumnDef="Apellido Paterno">
      <th mat-header-cell *matHeaderCellDef>Apellido Paterno</th>
      <td mat-cell *matCellDef="let element">{{ element.apellidoPaterno }}</td>
    </ng-container>

    <!-- Correo -->
    <ng-container matColumnDef="Escolaridad">
      <th mat-header-cell *matHeaderCellDef>Escolaridad</th>
      <td mat-cell *matCellDef="let element">{{ element.escolaridad }}</td>
    </ng-container>

    <!-- FECHA DE NACIMIENTO -->
    <ng-container matColumnDef="Fecha de Nacimiento">
      <th mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fechaNacimiento | date: 'MM/dd/yyyy' }}
      </td>
    </ng-container>

    <!-- ESTATUS -->
    <ng-container matColumnDef="Estatus">
      <th mat-header-cell *matHeaderCellDef>Estatus</th>
      <td mat-cell *matCellDef="let element">
        {{ element.activo ? "Activo" : "Inactivo" }}
      </td>
    </ng-container>

    <!-- Botones opciones -->
    <ng-container matColumnDef="Opciones">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let element">
        <div class="container-fluid">
          <div class="row justify-content-start">
            <button
              color=""
              class="btn btn-primary m-2"
              mat-mini-fab
              (click)="modificarAdministrador(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              class="m-2 btn btn-success"
              mat-mini-fab
              color=""
              (click)="activarDesactivarAdministrador(element)"
              *ngIf="!element.activo"
            >
              <mat-icon>published_with_changes</mat-icon>
            </button>
            <button
              class="m-2"
              mat-mini-fab
              color="warn"
              (click)="activarDesactivarAdministrador(element)"
              *ngIf="element.activo"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas"></tr>
  </table>
</div>
