<div class="mt-5" align="center">
    <div class="w-75">
        <div class="row mt-1 justify-content-between align-items-end">
          <div class="col-8">
           
          </div>
          <div class="col-3 mb-3">
            <button
              class="w-100 btn-success"
              (click)="agregarHorario()"
              mat-raised-button
            >
              <span>Asignar Horario</span>
            </button>
          </div>
        </div>
      </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                     <div class="row">
                        <div class="col-6">
                            Horario de Entrada: 8:00 am
                        </div>
                        <div class="col-6">
                            Horario de Salida: 5:00 pm
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  