<div class="mt-5" align="center">
  <div class="w-75">
      <div class="row mt-1 justify-content-between align-items-end">
        <div class="col-8">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>Buscar Empresas</mat-label>
            <input
              matInput
              type="text"
              placeholder="Busca empresas"
              [formControl]="buscadorForm"
            />
            <mat-icon matSuffix>search</mat-icon>

          </mat-form-field>
        </div>
        <div class="col-3 mb-3">
          <button class="w-100 btn-success" (click)="agregarEmpresa()" mat-raised-button>
            <span>Agregar</span>
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

  </div>
<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 w-75"
  appearance="legacy"
>
  <!-- No. Elemento-->
  <ng-container matColumnDef="No.">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">
      {{ obtenerIndiceTabla(element) + 1 }}
    </td>
  </ng-container>

  <!-- Nombre -->
  <ng-container matColumnDef="Nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>

  <!-- Apellido Materno -->
  <ng-container matColumnDef="Estatus">
    <th mat-header-cell *matHeaderCellDef>Estatus</th>
    <td mat-cell *matCellDef="let element">{{ element.estatus ? "Activa" : "Inactiva" }}</td>
  </ng-container>

  <!-- Apellido Paterno -->
  <ng-container matColumnDef="Direcciones">
    <th mat-header-cell *matHeaderCellDef>Direcciones</th>
    <td mat-cell *matCellDef="let element">
      <div class="container-fluid">
        <div class="row justify-content-start">
          <button
            mat-mini-fab
            color=""
            class="btn btn-primary m-2"
            [disabled]="!element.estatus"
            (click)="abrirUbicaciones(element)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Botones opciones -->
  <ng-container matColumnDef="Opciones">
    <th mat-header-cell *matHeaderCellDef>Opciones</th>
    <td mat-cell *matCellDef="let element">
      <div class="container-fluid">
        <div class="row justify-content-start">
          <button
            mat-mini-fab
            class="btn btn-success m-2"
            color=""
            (click)="reactivarEmpresa(element)"
            *ngIf="!element.estatus"
          >
            <mat-icon>published_with_changes</mat-icon>
          </button>
          <button
            mat-mini-fab
            class="m-2"
            color="warn"
            (click)="eliminarEmpresa(element)"
            *ngIf="element.estatus"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas"></tr>
</table>
<div class="w-75">
  <div class="row mt-1 justify-content-between align-items-end">
    
    <div class="col-12 mb-3">
      <button
        class="w-100 btn-primary"
        (click)="exportToExcel()"
        mat-raised-button
      >
        <span>Generar Reporte</span>
        <mat-icon>assignment</mat-icon>
      </button>
    </div>
  </div>
</div>
</div>
